body * {
	font-family: Century Gothic, Arial, Sans-Serif;
	color: black;
}

#slide-1, #slide-2, #slide-3 {
	height: 100vh;
}	
body h1{
	font-size: 3em;
	position: relative;
}
h2 a{
	color: black;
}
#slide-2 h1{
	padding-top: 5%;
}
#logo{
	padding-top: 30%;
	padding-bottom: 5%;
}

i.fa{
	position: absolute;
	bottom: 3%;
	margin-left: 49%;
	font-size: 50px;
	opacity: 1;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
i.fa.fade{
	opacity: 0;
}
.example{
	padding: 2%;
	max-width: 100%;
	/*border: solid black 2px;*/
}
.example:hover{
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.bottom-row{
	margin-bottom: 5%;
}
.collaborate, .description, .contact{
	padding-top: 0%;

}
.collaborate{
	text-decoration: italic;
}
.description{
	color: gray;
	font-size: 1.5em;
}
.photologo{
	margin-top: 10%;
	padding-bottom: 0%;
	max-width: 300px;
}
.contact{
	color: black;
	font-size: 5em;
	padding-bottom: 2%;
}
	.mobile-slide-1{
		height: 100%;
		position: relative;
	}
	.mobile-slide-2{
		height: auto;
		border: none;
		top: 0;
		position: relative;
	}
	.mobile-slide-3 {
		top: 0;
		position: relative;
		height: 100%;
	}
@media (min-width: 1200px){
	#logo{
		padding-top: 10%;
	}

}

@media (max-width: 480px){
	body h1{
		font-size: 2.5em;
	}
	i.fa{
		display: none;
	}
	.example{
		padding-bottom: 2%;
	}
	.contact{
		font-size: 3em;
	}
	.photologo{
		max-width: 100%;
	}
	.example:hover{
		transform: none;
	}
}

/*
problems:
safari, scroll all the way to the bottom and can see mademack at the bottom on the background-attachment: 
firefox: there's a weird gap between slides 2 and 3, through which slide 1 is visible;
not working on mobile
*/