body * {
	font-family: Century Gothic, Arial, Sans-Serif;
	color: black;
}

#slide-1 {
	position: fixed;
	width: 100%;
	height: 100vh;
}	
#slide-2 {
	border-top: 1px solid black;
	height: 100%;
}
#slide-3, #slide-2 {
	position: relative;
	top: 100vh;
	background-color: white;
}

body h1{
	font-size: 3em;
	position: relative;
}
h2 a{
	color: black;
}
#slide-2 h1{
	padding-top: 5%;
}
#logo{
	padding-top: 30%;
	padding-bottom: 5%;
}

#carrot{
	position: absolute;
	bottom: 22px;
	width: 30px;
	margin-left: 50%;
}
.example{
	padding: 2%;
	max-height: 300px;
	/*border: solid black 2px;*/
}
.bottom-row{
	margin-bottom: 5%;
}
.collaborate, .description, .contact{
	padding-top: 0%;

}
.collaborate{
	text-decoration: italic;
}
.description{
	color: gray;
	font-size: 1.5em;
}
.photologo{
	margin-top: 60%;
	padding-bottom: 0%;
}
.contact{
	color: black;
	font-size: 5em;
	padding-bottom: 2%;
}
	.mobile-slide-1{
		height: 100%;
		position: relative;
	}
	.mobile-slide-2{
		height: auto;
		border: none;
		top: 0;
		position: relative;
	}
	.mobile-slide-3 {
		top: 0;
		position: relative;
		height: 100%;
	}
@media (max-width: 480px){
	body h1{
		font-size: 2.5em;
	}
	#carrot{
		display: none;
	}
	.example{
		padding-bottom: 2%;
	}
	.contact{
		font-size: 3em;
	}
	
}

/*
problems:
safari, scroll all the way to the bottom and can see mademack at the bottom on the background-attachment: 
firefox: there's a weird gap between slides 2 and 3, through which slide 1 is visible;
not working on mobile
*/